body {
    background-color: #0d1118;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.contenedor-padre-registro {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.contenedor-titulo-registro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-titulo-registro img {
    width: 150px;
    filter: invert();
}

.contenedor-titulo-registro h1 {
    color: white;
    font-weight: 400;
    text-align: center;
}

.contenedor-registro {
    display: flex;
    padding: 15px;
    border-radius: 5px;
    background-color: #151a22;
    border: 1px solid #2b3138;
}

.lbl-username,
.lbl-email,
.lbl-password,
.lbl-image {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 10px;
}


.lbl-username input,
.lbl-email input,
.lbl-password input {
    background-color: #0d1118;
    border: 2px solid #2b3138;
    border-radius: 5px;
    width: 350px;
    height: 15px;
    padding: 10px;
    margin-top: 8px;
    color: white;
}

.lbl-username input:focus,
.lbl-email input:focus,
.lbl-password input:focus {
    border-color: #1f72f5;
    outline: none;
    caret-color: white;
}

/* Input file */
.lbl-image input[type="file"] {
    background-color: #0d1118;
    border: 2px solid #2b3138;
    border-radius: 5px;
    width: 350px;
    padding: 6px;
    margin-top: 8px;
    color: white;
    font-size: 13px;
}

/* Botón interno del file */
.lbl-image input[type="file"]::file-selector-button {
    background-color: #0d1118;
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    margin-right: 10px;
    color: #2b3138;
    cursor: pointer;
    
}



/* Focus file */
.lbl-image input[type="file"]:focus {
    border-color: #1f72f5;
    outline: none;
}

/* chebox-pass */

.contenedor-checkbox {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
}

.lbl-checkpass {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.9rem;
    color: #555;
    cursor: pointer;
    user-select: none;
}


.input-checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #bbb;
    border-radius: 4px;
    display: grid;
    place-content: center;
    transition: all 0.2s ease;
}

.input-checkbox::before {
    content: "";
    width: 10px;
    height: 10px;
    transform: scale(0);
    transition: transform 0.2s ease;
    background-color: #1f72f5;
    border-radius: 2px;
}

.input-checkbox:checked {
    border-color: #1f72f5;
}

.input-checkbox:checked::before {
    transform: scale(1);
}

/* ///// */

.botones-registro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botones-registro a {
    margin-top: 8px;
    color: #4ca5ff;
    text-decoration: none;
    font-weight: 500;
}

.btn-registrarse {
    margin: 12px 0;
    width: 370px;
    height: 40px;
    background-color: #1f72f5;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.btn-registrarse:hover {
    background-color: #2c82ff;
}

.footer {
    height: 50px;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-links a {
    color: #979fa9;
    text-decoration: none;
    font-weight: 500;
}
